body{
height:1000px;}

h1{
display:inline-block;
rotate:-20deg;
position:sticky;
top:0;
padding:25px;
opacity:0.6;}

.p1{
line-height:1.5px;}

.p2{
width:fit-content;
cursor:pointer;}

.f1{
outline:3px solid darkblue;}
